.root {
  position: relative;
  border-radius: 6px;
  border: 2px solid gray;
  padding: 1.5rem;
}

.title {
  line-height: 1.25;
}

.link {
  text-decoration: none;
}

.content {
  font-size: 1rem;
}
